<a href="https://colab.research.google.com/github/marinowars/Hola_Mundo/blob/main/1_Extracci%C3%B3n_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importamos librer√≠as requeridas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io

In [ ]:
#Cargar archivo csv desde equipo
from google.colab import files
files.upload()

In [31]:
#Convertir en dataframe
df=pd.read_csv("file.csv")
df

,Periodo,Trimestre,Entidad_Federativa,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
0,2005,1,Nacional,Hombres,4384907,26597801,16.485975660000000000000
1,2005,1,Nacional,Mujeres,2690296,14843275,18.124679360000000000000
2,2005,1,Aguascalientes,Hombres,56407,246177,22.913188480000000000000
3,2005,1,Aguascalientes,Mujeres,28430,145656,19.518591750000000000000
4,2005,1,Baja California,Hombres,167651,768989,21.801482210000000000000
...,...,...,...,...,...,...,...
4549,2022,1,Veracruz,Mujeres,107640,1190733,9.0398099320000000000000
4550,2022,1,Yucat n,Hombres,101992,691397,14.751582670000000000000
4551,2022,1,Yucat n,Mujeres,82759,478943,17.279509250000000000000
4552,2022,1,Zacatecas,Hombres,44105,402326,10.962503040000000000000
4553,2022,1,Zacatecas,Mujeres,39472,255761,15.43315830000000000000

In [ ]:
#Imprimimos las primeras filas o registros del Dataframe
df.head(5)

**FILTROS BASICOS PARA VARIABLES CUALITATIVAS**

In [ ]:
#Filtro por objeto
filtro1=df[df["Entidad_Federativa"] == "Baja California"]
filtro1

In [ ]:
#Filtro por filas
filtro2= df.iloc[0:99,: ]
#filtro2=df.iloc[[1000, 2000, 3000], : ]  #filas no consecutivas
filtro2

In [ ]:
#Filtro por columnas
#filtro3=df.iloc[ : , 4:6]
filtro3=df.iloc[ : , [1,4,6]] #columnas no consecutivas
filtro3

In [ ]:
#Filtro por columnas y por filas
filtro_mix=df.iloc[ [10,20,50] , 2:5]
#filtro3=df.iloc[ : , [1,4,6]] #columnas no consecutivas
filtro_mix

In [ ]:
#Filtro de filas vs columnas
#Paso 1: Leemos el contenido del archivo
from google.colab import files
uploaded=files.upload()
df = pd.read_csv(io.BytesIO(uploaded["file.csv"]), index_col=2)
df

In [ ]:
#Paso 2:Aplicamos Filtro de filas vs columnas
filtro4=df.loc[["Puebla","Oaxaca","Veracruz","Guerrero"],["Poblacion_ocupada_en_la_industria_manufacturera"]]
filtro4

In [ ]:
#Filtro por cabecera
filtro5=df.head()
filtro5

**FILTROS BASICOS PARA VARIABLES CUANTITATIVAS**

In [ ]:
#Filtro por comparacion
filtro6=df[df["Periodo"] >2010]
filtro6

FILTROS BASICOS CON CONECTORES LOGICOS

In [32]:
#Filtro Y
filtro7=df[(df["Periodo"] == 2015) & (df["Sexo"] == "Hombres") & (df["Entidad_Federativa"] == "Puebla")]
filtro7

,Periodo,Trimestre,Entidad_Federativa,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
2682,2015,1,Puebla,Hombres,213571,1549409,13.784029910000000000000
2748,2015,2,Puebla,Hombres,209708,1602273,13.088156640000000000000
2814,2015,3,Puebla,Hombres,231235,1559704,14.825569470000000000000
2880,2015,4,Puebla,Hombres,228012,1619413,14.079916610000000000000